<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WordWise</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
          rel="stylesheet" />
  </head>
  <body>
    {% include "base.html" %}
    {% block content %}
      {% load socialaccount %}

      <div class="flex justify-center h-screen mt-3">
        <a class="btn btn-accent" href="{% provider_login_url 'google' %}">Log in with Google</a>
      </div>
    {% endblock content %}
  </body>
</html>
