{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script><style>
    </style>
  </head>
  <body class="font-[Poppins] min-h-screen">
    {% load socialaccount %}
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </label>
          <ul tabindex="0"
              class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <div class="tooltip tooltip-bottom" data-tip="Home">
                <a href="{% url "wordwise:index" %}"><i class='bx bxs-home text-2xl '></i></a>
              </div>
            </li>
            <li>
              <div class="tooltip tooltip-bottom" data-tip="Deck">
              <a href="{% url "wordwise:collection_index" %}"><i class='bx bxs-collection text-2xl' ></i></a>
              </div>
            </li>
            <li>
              <div class="tooltip tooltip-bottom" data-tip="Test">
              <a href="#"><i class='bx bxs-edit-alt text-2xl'></i></a>
              </div>
            </li>
            <li>
              <div class="tooltip tooltip-bottom" data-tip="Fill in the blank">
              <a href="{% url "wordwise:fill_in" %}"><i class='bx bxs-keyboard text-2xl'></i></a>
              </div>
            </li>
          </ul>
        </div>
        <a href="{% url "wordwise:index" %}" class="btn btn-ghost normal-case text-xl">WordWise</a>
      <ul class="menu menu-horizontal px-1">
        </ul></div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li>
            <div class="tooltip tooltip-bottom" data-tip="Home">
                <a href="{% url "wordwise:index" %}"><i class='bx bxs-home text-2xl '></i></a>
            </div>
          </li>
          <li>
            <div class="tooltip tooltip-bottom" data-tip="Deck">
            <a href="{% url "wordwise:collection_index" %}"><i class='bx bxs-collection text-2xl' ></i></a>
            </div>
          </li>
          <li>
            <div class="tooltip tooltip-bottom" data-tip="Test">
            <a href="#"><i class='bx bxs-edit-alt text-2xl'></i></a>
            </div>
          </li>
          <li>
            <div class="tooltip tooltip-bottom" data-tip="Fill in the blank">
            <a href="{% url "wordwise:fill_in" %}"><i class='bx bxs-keyboard text-2xl'></i></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="navbar-end">
        {% if user.is_authenticated %}
          <a class="btn btn-accent" href="{% url 'users:detail' user.username %}">{{ user.username }}</a>
        {% else %}
          <a class="btn btn-accent" href="{% provider_login_url 'google' %}">Log in</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
