<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet' />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <style>
      :root {
        --my-color: #FFC436;
      }

      [data-theme='dracula'] {
        --my-color: #232D3F;
      }

      body {
        background-color: var(--my-color);
      }
    </style>
  </head>
  <body class="min-h-screen flex justify-end items-end p-4">
    <button data-toggle-theme="winter,dracula"
            data-act-class="ACTIVECLASS"
            class="btn btn-circle fixed bottom-0 right-0 m-4"
            onclick="toggleIcon()">
      <i id="themeIcon" class="bx bx-moon text-3xl"></i>
    </button>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <script>
      function toggleIcon() {
        const themeIcon = document.getElementById('themeIcon');
        const currentIconClass = themeIcon.classList[1];
        const newIconClass = currentIconClass === 'bx-moon' ? 'bxs-sun' : 'bx-moon';
        themeIcon.classList.replace(currentIconClass, newIconClass);
      }
    </script>
  </body>
</html>
