{% load static %}

<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WordWise</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "base.html" %}
    {% load static %}

    {% block title %}
      User:
      {{ object.username }}
    {% endblock title %}
    {% block content %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>{{ object.username }}</h2>
            {% if object.name %}<p>{{ object.name }}</p>{% endif %}
          </div>
        </div>
        {% if object == request.user %}
          <!-- Action buttons -->
          <div class="row">
            <div class="col-sm-12">
              <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
              <a class="btn btn-primary"
                 href="{% url 'account_email' %}"
                 role="button">E-Mail</a>
              <!-- Your Stuff: Custom user template urls -->
            </div>
          </div>
          <!-- End Action buttons -->
        {% endif %}
      </div>
    {% endblock content %}
  </body>
</html>
