{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WordWise</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
          rel="stylesheet" />
  </head>
  <body>
    {% include "base.html" %}
    {% block content %}
      <div class="card w-5/12 bg-base-100 shadow-xl p-4 mx-auto mt-3">
        <h2 class="text-3xl font-semibold text-center">{{ object.username }}</h2>
        {% if object.name %}<p class="text-lg text-center">{{ object.name }}</p>{% endif %}
        {% if object == request.user %}
          <div class="mt-4 text-center">
            <a class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 mt-2 text-sm"
               href="{% url 'account_email' %}"
               role="button">E-Mail</a>
            <a class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 mt-2 text-sm"
               href="{% url 'account_logout' %}"
               role="button">Log out</a>
          </div>
          <div class="flex justify-between mt-7">
            <!-- First Stat -->
            <div class="ml-6">
              <div class="stat-title">Favorite</div>
              <div class="stat-value text-error">278 Words</div>
            </div>
            <!-- Second Stat -->
            <div>
              <div class="radial-progress text-accent"
                   style="--value:75"
                   role="progressbar">75%</div>
              <div class="stat-title text-center">Remember</div>
            </div>
            <!-- Third Stat -->
            <div class="mr-6">
              <div class="stat-title text-center">Day Streak</div>
              <div class="stat-value text-primary text-orange-600">3 Days</div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock content %}
  </body>
</html>
