{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WordWise</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
          rel="stylesheet" />
  </head>
  <body>
    {% include "base.html" %}
    {% block content %}
      <div class="card w-96 bg-base-100 shadow-xl shadow-lg p-4 text-center mx-auto mt-3">
        <h2 class="text-3xl font-semibold">{{ object.username }}</h2>
        {% if object.name %}<p class="text-lg">{{ object.name }}</p>{% endif %}
        {% if object == request.user %}
          <div class="mt-4">
            <a class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 text-sm"
               href="{% url 'users:update' %}"
               role="button">My Info</a> <!-- Fixed text size with text-sm class -->
            <a class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 mt-2 text-sm"
               href="{% url 'account_email' %}"
               role="button">E-Mail</a> <!-- Fixed text size with text-sm class -->
            <a class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 mt-2 text-sm"
               href="{% url 'account_logout' %}"
               role="button">Log out</a> <!-- Fixed text size with text-sm class -->
            <!-- Your Stuff: Custom user template URLs -->
          </div>
          <!-- End Action buttons -->
        {% endif %}
      </div>
    {% endblock content %}
    {% include "footer.html" %}
  </body>
</html>
