<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Deck</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet' />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.7"
            integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8"
            crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "base.html" %}
    <div class="flex justify-between mt-2">
      <div class="bg-white hover:bg-zinc-100 p-2 rounded-lg mt-5 mx-5 w-80">
        <a href='{% url "wordwise:deck_index" %}'>
          <h2 class="text-left text-xl mt-4 mx-5 text-xl font-semibold">{{ deck.name.upper }}</h2>
          <p class="text-left mt-4 mx-5 overflow-hidden max-h-40 mb-4">{{ deck.description }}</p>
        </a>
      </div>
      {% if user == deck.user %}
        <div class="bg-white rounded-lg mt-5 mx-5 w-24 h-12 flex justify-center items-center">
          <div class="form-control flex justify-between">
            <label class="cursor-pointer label">
              {% if deck.private %}
                <input id="toggleCheckbox"
                       hx-get="{% url 'wordwise:unlock_deck' deck.id %}"
                       hx-target="this"
                       hx-swap="outerHTML"
                       type="checkbox"
                       class="toggle toggle-info"
                       checked />
              {% else %}
                <input id="toggleCheckbox"
                       hx-get="{% url 'wordwise:lock_deck' deck.id %}"
                       hx-target="this"
                       hx-swap="outerHTML"
                       type="checkbox"
                       class="toggle toggle-info" />
              {% endif %}
              <i class="bx bxs-lock-alt ml-1"></i>
            </label>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="flex justify-center items-center mt-5">
      <div class="overflow-x-24 card w-full mx-5 bg-base-100 shadow-xl">
        <div class="table-container max-h-96 overflow-y-auto rounded-lg">
          <table class="table">
            <thead>
              <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Number</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Word</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Part of speech</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Definition</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center"></th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for word in deck.definition_set.all %}
                <tr class="{% cycle 'bg-base-200' 'bg-base-300' %}">
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <p class="text-xl font-semibold text-center">{{ word.word.vocab.capitalize }}</p>
                  </td>
                  <td>
                    <p class="text-l text-center">{{ word.part_of_speech }}</p>
                  </td>
                  <td>
                    <p class="text-l text-left">{{ word.definition }}</p>
                  </td>
                  <td>
                    {% if user == deck.user %}
                      <a href='{% url "wordwise:delete_word" deck.id word.id %}'
                         class="link link-error mt-3">delete</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex justify-between mt-2 mx-5">
      <div>
        <a class="btn btn-success"
           href="{% url "wordwise:flashcard_deck" deck.id %}">Flash card</a>
        <a class="btn btn-error mx-2"
           href="{% url "wordwise:fill_in_deck" deck.id %}">Fill in the blank</a>
        <a class="btn btn-warning" href="{% url "wordwise:test_deck" deck.id %}">Test Mode</a>
      </div>
      <div>
        {% if user == deck.user %}
          <!-- Put this part before </body> tag -->
          <button class="btn btn-success" onclick="my_modal_2.showModal()">favorite</button>
          <dialog id="my_modal_2" class="modal">
            <div class="modal-box w-11/12 max-w-5xl">
              <h3 class="font-bold text-lg mb-2">Search</h3>
              <div class="flex justify-center">
                <div hx-get="{% url "wordwise:ran_fav" deck.id %}"
                     hx-target="#fav_list"
                     hx-swap="innerHTML"
                     class="btn btn-warning">Favorite list</div>
                <form class="flex">
                  <div class="flex justify-center items-center ml-6">
                    <form class="flex">
                      {% csrf_token %}
                      <div class="flex items-center justify-center">
                        <input type="text"
                               name="word"
                               placeholder="Type here"
                               class="input input-bordered input-info w-96 max-w-xs" />
                        <button class="btn btn-circle text-xl ml-3 justify-center"
                                hx-post="{% url "wordwise:search_fav" deck.id %}"
                                hx-target="#fav_list"
                                hx-swap="innerHTML">
                          <i class="bx bx-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </form>
              </div>
              <div id="fav_list"></div>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
          <label for="my_modal_4" class="btn btn-error">add</label>
          <input type="checkbox" id="my_modal_4" class="modal-toggle" />
          <div class="modal flex items-center justify-center min-h-screen">
            <div class="modal-box w-11/12 max-w-5xl">
              <button id="closeButton"
                      class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
              <div class="flex justify-center items-center">
                <form class="flex">
                  {% csrf_token %}
                  <div class="flex items-center justify-center">
                    <input type="text"
                           name="word"
                           placeholder="Type here"
                           class="input input-bordered input-info w-96 max-w-xs" />
                    <button class="btn btn-circle text-xl ml-3 justify-center"
                            hx-post="{% url "wordwise:search_word" deck.id %}"
                            hx-target="#definition_list"
                            hx-swap="innerHTML">
                      <i class="bx bx-search"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div id="definition_list"></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_authenticated %}
    <div class="bg-white p-2 rounded-lg mt-6 mx-5 w-48">
      <p class="text-left text-xl font-semibold text-center">Have Remembered</p>
    </div>
    <div class="flex justify-center items-center mt-5">
      <div class="overflow-x-24 card w-full mx-5 bg-base-100 shadow-xl">
        <div class="table-container max-h-96 overflow-y-auto rounded-lg">
          <table class="table">
            <thead>
              <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Number</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Word</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Part of speech</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Definition</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for word in memorised %}
                <tr class="{% cycle 'bg-base-200' 'bg-base-300' %}">
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <p class="text-xl font-semibold text-center">{{ word.word.vocab.capitalize }}</p>
                  </td>
                  <td>
                    <p class="text-l text-center">{{ word.part_of_speech }}</p>
                  </td>
                  <td>
                    <p class="text-l text-left">{{ word.definition }}</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endif %}
  {% if request.user.is_authenticated %}
    <div class="bg-white p-2 rounded-lg mt-6 mx-5 w-48">
      <p class="text-left text-xl font-semibold text-center">Have Not Remembered</p>
    </div>
    <div class="flex justify-center items-center mt-5">
      <div class="overflow-x-24 card w-full mx-5 bg-base-100 shadow-xl">
        <div class="table-container max-h-96 overflow-y-auto rounded-lg">
          <table class="table">
            <thead>
              <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Number</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Word</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Part of speech</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Definition</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for word in not_memorised %}
                <tr class="{% cycle 'bg-base-200' 'bg-base-300' %}">
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <p class="text-xl font-semibold text-center">{{ word.word.vocab.capitalize }}</p>
                  </td>
                  <td>
                    <p class="text-l text-center">{{ word.part_of_speech }}</p>
                  </td>
                  <td>
                    <p class="text-l text-left">{{ word.definition }}</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a class="btn btn-success ml-4 mt-2"
       href="{% url "wordwise:flashcard_not_remember_deck" deck.id %}">Flash card</a>
    <a class="btn btn-error mx-2"
       href="{% url "wordwise:fill_deck_not_memorise" deck.id %}">Fill in the blank</a>
    <a class="btn btn-warning"
       href="{% url "wordwise:test_deck_not_memorise" deck.id %}">Test Mode</a>
  {% endif %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      modalToggle = document.getElementById('my_modal_4');
      var closeButton = document.getElementById('closeButton');

      closeButton.addEventListener('click', function() {
        modalToggle.checked = false; // Uncheck the checkbox to close the modal
      });
    });
  </script>
  <p>ㅤ</p>
</body>
</html>
