<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Deck</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet' />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.7"
            integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8"
            crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "base.html" %}
    <div class="flex justify-end mt-4 mr-4">
      <label for="my_modal_6" class="btn">add</label>
      <input type="checkbox" id="my_modal_6" class="modal-toggle" />
      <div class="modal flex items-center justify-center min-h-screen">
        <div class="modal-box">
          <button id="closeButton"
                  class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          <form method="post" action="{% url "wordwise:create_collection" %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-active btn-secondary" />
          </form>
        </div>
      </div>
    </div>
    <!-- My collection -->
    <div class="bg-white p-2 rounded-lg mt-2 mx-5 w-32">
      <p class="text-left text-xl font-semibold text-center">My Deck</p>
    </div>
    <div class="flex justify-center items-center mt-2 mb-3">
      <div class="overflow-x-auto card w-full mx-5 bg-base-100 shadow-xl">
        <div class="table-container max-h-96 overflow-y-auto">
          <table class="table" style="table-layout: fixed; width: 100%;">
            <thead>
              <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Name</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Description</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for user_collection in collections %}
                <tr class="{% cycle 'bg-base-200' 'bg-base-300' %}">
                  <td>
                    <a class="text-xl font-semibold"
                       href="{% url "wordwise:deck_detail" user_collection.id %}">{{ user_collection.name }}</a>
                  </td>
                  <td>
                    <a href="{% url "wordwise:deck_detail" user_collection.id %}">{{ user_collection.description }}</a>
                  </td>
                  <td>
                    <a>
                      <button class="link link-error" onclick="toggleModal('my_modal_1')">Delete</button>
                      <input type="checkbox" id="my_modal_6" class="modal-toggle" />
                      <div class="modal flex items-center justify-center min-h-screen">
                        <div class="modal-box">
                          <a></a>
                        </div>
                      </div>
                      <dialog id="my_modal_1" class="modal">
                        <div class="modal-box">
                          <h3 class="font-bold text-lg">Confirm Deletion</h3>
                          <p class="py-4">
                            Are you sure you want to delete this deck?
                            <br />
                            (Press ESC to cancel)
                          </p>
                          <div class="modal-action justify-center">
                            <a href="{% url 'wordwise:delete_deck' user_collection.id %}"
                               class="btn btn-error">Delete</a>
                          </div>
                        </div>
                      </dialog>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Other collection -->
    <div class="bg-white p-2 rounded-lg mt-6 mx-5 w-36">
      <p class="text-left text-xl font-semibold text-center">Other Deck</p>
    </div>
    <div class="flex justify-center items-center my-2">
      <div class="overflow-x-auto card w-full mx-5 bg-base-100 shadow-xl">
        <div class="table-container max-h-96 overflow-y-auto">
          <table class="table" style="table-layout: fixed; width: 100%;">
            <thead>
              <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Name</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Description</th>
                <th class="p-3 text-sm font-semibold tracking-wide text-center">Owner</th>
              </tr>
            </thead>
            <tbody class="text-center">
              {% for other_collection in others %}
                <tr class="{% cycle 'bg-base-200' 'bg-base-300' %}">
                  <td>
                    <a class="text-xl font-semibold"
                       href="{% url "wordwise:deck_detail" other_collection.id %}">{{ other_collection.name.capitalize }}</a>
                  </td>
                  <td>
                    <a href="{% url "wordwise:deck_detail" other_collection.id %}">{{ other_collection.description }}</a>
                  </td>
                  <td>
                    <a class="link link-accent">{{ other_collection.user }}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Placeholder p tag (don't delete) -->
    <p>ㅤ</p>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        modalToggle = document.getElementById('my_modal_6');
        var closeButton = document.getElementById('closeButton');

        closeButton.addEventListener('click', function() {
          modalToggle.checked = false; // Uncheck the checkbox to close the modal
        });
      });


      function toggleModal(modalId) {
        var modal = document.getElementById(modalId);
        if (modal) {
          modal.showModal ? modal.showModal() : modal.style.display = 'block';
        }
      }

      document.addEventListener('DOMContentLoaded', function() {
        // Close button event listeners for each modal
        // You can loop through all modals and assign this
        var closeButton = document.getElementById('closeButton');
        closeButton.addEventListener('click', function() {
          // Find the parent modal and close it
          var modal = this.closest('dialog');
          modal.close ? modal.close() : modal.style.display = 'none';
        });
      });
    </script>
  </body>
</html>
