{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WordWise</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.7"
            integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8"
            crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "base.html" %}
    <div class="mx-auto max-w-2xl mt-8">
      <div class="card-front bg-base-100 shadow-md rounded-lg pt-36 pb-12 relative">
        <h2 class="text-2xl font-semibold mb-4 text-center absolute top-10 w-full px-3">
          {{ defi.object_list.0.example_set.all.0.censor }}
          <br />
        </h2>
        <form class="flex flex-col items-center">
          {% csrf_token %}
          {{ form }}
          <input type="hidden" name="defi" value="{{ defi.object_list.0.definition }}" />
          <input type="hidden" name="has_next" value="{{ defi.has_next }}" />
          {% if defi.has_next %}
            <input type="hidden"
                   name="next_page_number"
                   value="{{ defi.next_page_number }}" />
          {% else %}
            <input type="hidden" name="next_page_number" value=0 />
          {% endif %}
          <div class="flex mt-4">
            <button class="btn btn-success btn-sm"
                    hx-post="{% url "wordwise:fill_in" %}"
                    hx-target="#result"
                    hx-swap="innerHTML"
                    onclick="disableSubmitButton(this)">Submit</button>
            <button type="button"
                    class="btn btn-outline btn-error flex justify-center items-center btn-sm ml-2"
                    onclick="my_modal_3.showModal()">Hint</button>
          </div>
          <p class="mt-2">{{ defi.number }} / {{ defi.paginator.num_pages }}</p>
        </form>
        <dialog id="my_modal_3" class="modal">
          <div class="modal-box">
            <form method="dialog">
              <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="font-bold text-lg">Hint!</h3>
            <p class="py-4">{{ defi.object_list.0.definition }}</p>
          </div>
        </dialog>
        <div id="result"></div>
      </div>
      <div class="flex justify-left text-center">
        {% if current_deck != 0 %}
          <a href='{% url "wordwise:deck_detail" current_deck %}'>
            <button class="btn btn-warning mt-2 btn-sm">
              <i class="bx bx-left-arrow-circle bx-flip-vertical"></i>
            </button>
          </a>
        {% else %}
          <a href='{% url "wordwise:index" %}'>
            <button class="btn btn-warning mt-2 btn-sm">
              <i class="bx bx-left-arrow-circle bx-flip-vertical"></i>
            </button>
          </a>
        {% endif %}
      </div>
    </div>
  </body>
  <script>
    function disableSubmitButton(button) {
      button.disabled = true;
    }
  </script>
</html>
