{% load static %}
<!DOCTYPE html>
<html data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordWise</title>
    <link rel="stylesheet" href="{% static 'css/flashcard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {% include 'base.html' %}
  <div class="mx-auto max-w-2xl mt-8">
    <div class="card-flip-container">
        <div class="card-flip" id="card">
            <div class="card-front bg-white shadow-md rounded-lg p-8 pt-52 pb-12 relative">
                <h2 class="text-6xl font-semibold text-black mb-4 text-center absolute top-10 w-full">Adorable</h2>
                <div class="text-container">
                    <i class='bx bx-volume-full'></i>
                    <p class="text-black ml-1">/əˈdɔːr.ə.bəl/</p>
                </div>
                <div class="button-container">
                  <button class="btn btn-error" id="showButton">Show</button>
                  <button class="btn btn-primary" id="nextButton">Next</button>
                </div>
            </div>
            <div class="card-back bg-white shadow-md rounded-lg p-8 pt-52 pb-12 relative">
                <!-- Add content for the back of the card here -->
                <div class="text-container">
                    <p class="text-black ml-1">inspiring great affection; delightful; charming.</p>
                </div>
                <div class="button-container">
                    <button class="btn btn-primary" id="backButton">Next</button>
                </div>
            </div>
        </div>
    </div>
  </div>
<script src="{% static 'js/flashcard.js' %}"></script>

</body>
</html>
