{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WordWise</title>
    <link rel="stylesheet" href="{% static 'css/flashcard.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet' />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "base.html" %}
    <div class="mx-auto max-w-2xl mt-8">
      <div class="card-flip-container">
        <div class="card-flip" id="card">
          <div class="card-front bg-base-100 shadow-md rounded-lg pt-52 pb-12 relative">
            <h2 class="text-4xl font-semibold mb-4 text-center absolute top-10 w-full">Word</h2>
            <!-- Part of Speech-->
            <div class="text-container">
              <p class="part">Part of speech</p>
              <!-- Part of Speech-->
            </div>
            <div class="button-container">
              <button class="btn btn-error" id="showButton">Show</button>
              <button class="btn btn-primary" id="nextButton">Next</button>
            </div>
          </div>
          <div class="card-back bg-base-100 shadow-md rounded-lg p-8 pt-52 pb-12 relative">
            <!-- Add content for the back of the card here -->
            <div class="text-container">
              <p class="Meanning">Meaning</p>
              <!--Meaning-->
            </div>
            <div class="button-container z-10">
              <button class="btn btn-error" id="backButton">Back</button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-left text-center">
        {% if pk.isdigit %}
          <a href='{% url "wordwise:deck_detail" pk %}'>
            <button class="btn btn-warning mt-2 btn-sm">Go Back</button>
          </a>
        {% else %}
          <a href='{% url "wordwise:index" %}'>
            <button class="btn btn-warning mt-2 btn-sm">Go Back</button>
          </a>
        {% endif %}
      </div>
    </div>
    <script>
      const showButton = document.getElementById("showButton")
      const nextButton = document.getElementById("nextButton");
      const backButton = document.getElementById("backButton");
      const card = document.getElementById("card");
      let isFlipped = false;
      let wordElement = document.querySelector(".text-4xl");
      let partOfSpeechElement = document.querySelector(".part")
      let meaningElement = document.querySelector(".Meanning")
      let word = document.getElementById("word");
      let currentIndex = 0;
      let wordData = [
        // Add more word data objects as needed
      ];
      {% for word in word_list %}
      wordData.push({
        word: "{{ word.word.vocab.capitalize }}",
        part_of_speech: "({{ word.part_of_speech }}.)",
        meaning: "{{ word.definition }}",
      });
      {% endfor %}

      wordElement.textContent = wordData[currentIndex].word;
      partOfSpeechElement.textContent = wordData[currentIndex].part_of_speech;
      meaningElement.textContent = wordData[currentIndex].meaning;


      showButton.addEventListener("click", () => {
        if (!isFlipped) {
          card.style.transform = "rotateY(180deg)";
          card.querySelector(".card-front").style.display = "none";
          card.querySelector(".card-back").style.display = "block";
          isFlipped = true;
        }
      });

      nextButton.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % wordData.length;
        const word = wordData[currentIndex];
        wordElement.textContent = word.word;
        partOfSpeechElement.textContent = word.part_of_speech;
        meaningElement.textContent = `${word.meaning}`;
        if (isFlipped) {
          card.style.transform = "rotateY(0deg)";
          card.querySelector(".card-front").style.display = "block";
          card.querySelector(".card-back").style.display = "none";
          isFlipped = false;
        }
      });

      backButton.addEventListener("click", () => {
        if (isFlipped) {
          // If the card is flipped, flip it back to the front side
          card.style.transform = "rotateY(0deg)";
          card.querySelector(".card-front").style.display = "block";
          card.querySelector(".card-back").style.display = "none";
          isFlipped = false;
        }
        // Add additional logic here if needed
      });
    </script>
  </body>
</html>
