{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WordWise</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include "base.html" %}
    <div class="grid grid-cols-1 grid-cols-2 grid-cols-3 mt-2 gap-2">
      {% for type in type_of %}
        <div class="p-3">
          <div class="card w-120 bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">{{ type.capitalize }}</h2>
              <p>This category contains words in {{ type }} by random 10 words</p>
              <div class="card-actions justify-end">
                <a href="{% url "wordwise:flashcard" type %}">
                  <button class="btn btn-info">Start</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include "footer.html" %}
  </body>
</html>
