<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div class="flex justify-center text-center mt-3 font-bold error">Wrong :</div>
    <div class="flex justify-center text-center">The answer is {{ correct_defi.definition }}</div>
    <div class="flex justify-center">
      {% if has_next %}
        <div class="mt-2">
          <a href="?page={{ next_page }}">
            <button class="btn btn-outline btn-primary btn-sm">Next</button>
          </a>
        </div>
      {% else %}
        <div class="mt-2">
          <a href="{% url "wordwise:deck_detail" current_deck %}">
            <button class="btn btn-outline btn-primary btn-sm">Go Back</button>
          </a>
        </div>
      {% endif %}
    </div>
  </body>
</html>
